@import "../../vars.css";

.container {
  margin-top: 50px;
  color: var(--color-text);
  padding: 60px 8%;
}

.title {
  color: var(--color-text);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
}

.historyImageMobile {
  display: none;
}

.timelineItem {
  width: calc(50% - 50px);
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #123367 0%, rgba(1, 24, 58, 0.5) 100%);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, rgb(13, 16, 65), rgb(23, 97, 126));
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  top: 10px;
}

/* .timelineItem.left {
  align-self: flex-start;
} */

.timelineItem.right {
  align-self: end;
}

.timelineItem:hover {
  transform: translateY(-5px);
}

.historyContent {
  display: flex;
  flex-direction: column;
}

.historyHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.historyImageContainer {
  top: 10px;
  background-color: var(--color-secondary);
  border-radius: 25%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.timelineItem.left .historyImageContainer {
  right: -85px; 
}

.timelineItem.right .historyImageContainer {
  left: -85px; 
}


.historyImage {
  width: 60px;
  border-radius: 10px;
  position: absolute;
  z-index: 1; 
}

/* .timelineItem.left .historyImage {
  right: -70px; 
}

.timelineItem.right .historyImage {
  left: -70px; 
} */

.historyHeader h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-light);
  margin: 0;
}

.historyHeader .position {
  font-weight: 700;
}

.historyHeader .company {
  font-weight: 400;
  font-style: italic;
}

.historyContent p {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-text-light);
}

.historyContent ul {
  margin-top: 10px;
  list-style-position: inside;
  font-size: 18px;
  list-style-type: disc;
  padding-left: 20px;
}

@media screen and (max-width: 830px) {
  .timelineItem,
  .timelineItem.left,
  .timelineItem.right {
    width: 100%;
    margin: 0;
  }

  .timeline {
    position: relative;
    gap: 40px;
    padding: 10px 7%;
    box-sizing: border-box; 
  }

  .timeline::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, rgb(13, 16, 65), rgb(23, 97, 126));
    left: -1%;
    transform: translateX(-50%);
    z-index: 0;
    top: 20px;
  }

  .timelineItem.left .historyImageContainer {
    left: -85px; 
  }

  .title {
    font-size: 30px;
  }

  .historyImageMobile {
    display: none;
  }
}

@media (max-width: 666px) {

  .container {
    margin-top: 30px;
  }

  .historyContent {
    display: flex; 
    gap: 0px; 
    padding: 0%;
  }

  .historyImageMobile {
    display: block;
    width: 70px; 
    margin-right: 10px;
  }

  .historyHeader {
    gap: 0px;
    padding-left: 0px;
  }


  .historyImageContainer {
    display: none; 
  }

  .timeline::before {
    display: none; 
  }
}