* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  /* As default, all elements will use the Outfit font. If not available, it will use Arial then Helvetica. Then use sans-serif */
}